<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha256-OweaP/Ic6rsV+lysfyS4h+LM6sRwuO3euTYfr6M124g=" crossorigin="anonymous" />
  
  {% load static %}
  <!-- <link rel="stylesheet" href="login_reg_app/materialize.css"> -->
</head>
<body>
  <div class="container">
    <h1 style="display: inline-block;">Welcome, {{ user.fname }}</h1>
    <!-- <p style="display: inline-block;"> -->
      <a style="float: right;" href="/logout">Log Out</a>
    <!-- </p> -->
    <h3>You have successfully registered/logged in.</h3>
    <div class="bottom" style="margin: 0px auto;">
        <a class="button link btn " href="/wall"><button>Go to Wall</button></a>
      </div>
  </div>
</body>
</html>